.registration-component {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.registration-component h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #76F;
}

.registration-component .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.registration-form .input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form input[type="date"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.registration-form input::placeholder {
    color: #76F;
}

.registration-form .password-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registration-form .password-input input {
    flex: 1;
}

.registration-form .password-input button img {
    width: 40px;
    height: 40px;
}

.registration-form .agreement {
    display: flex;
    align-items: center;
    font-size: 20px;    
    margin-bottom: 10px;

}

.registration-form .agreement input {
    margin-right: 10px;
    width: 25px;
    transform:scale(1.5);
    opacity:0.9;
    cursor:pointer;
}

.registration-form .btn {
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #76F;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.registration-form .btn:hover {
    background-color: #5a5aff;
}

.registration-form .buttons{
    display: flex;
    align-items: center;    
    justify-content: space-between;
}