.profile-container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.profile-header {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  text-align: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #0056b3;
}

/* style for profile_menu */
.profile_menu {
  width: 100%;
}

/* style for profile_course */

.profile_menu {
  display: flex;

}

.profile-avatar {
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.profile_course {
  padding: 20px;
}
.profile_course_top{
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.profile_course_nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.prifle_nav_a{
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.prifle_nav_a:hover{
  background-color: #0056b3;
}

