/* style for main_top_center */
.main_top_center {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#img_pod {
    height: 480px;
}

.main_top_left_img {
    height: 555px;
    max-width: 850px;
}

.main_top_center .main_top_left img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.main_top_right {
    max-width: 750px;
    background: #4286f4cb;
    border-radius: 20px;
    padding: 20px;
}

.main_top_right h4 {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

.main_top_right p {
    font-size: 18px;
    color: white;
    text-align: justify;
    padding-bottom: 10px;
}

.main_top_right span {
    padding-left: 20px;
}

.main_top_right ul {
    font-size: 18px;
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
}

.main_top_right ul li {
    padding-bottom: 5px;
}


/* style for main_top_right_text */
.main_top_right_text {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
}

/* style for main_center_center */
.main_center_center {
    display: flex;
    align-items: center;
    justify-content: start;
}

.main_center_center form {
    display: flex;
    gap: 40px;
}

.main_center_center form input[type='text'] {
    font-size: 24px;
    padding-left: 20px;
    width: 600px;
    height: 50px;
}

.main_center_center form input[type='submit'] {
    font-size: 24px;
    width: 170px;
    height: 50px;
    background: #4286f4cb;
    color: white;
    border: none;
}

/* style for main_prof */
.main_top_prof {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main_top_center_prof {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_top_right_prof {
    font-size: 18px;
    text-align: center;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.main_top_right_prof_img {
    max-width: 450px;

}

.main_top_right_prof_img img {
    border-radius: 20px;
    height: 320px;
    width: 100%;
}

.main_top_right_prof_text ul {
    padding-top: 10px;
}

.main_top_right_prof_text ul li {
    padding-top: 5px;
}

/* style for main_top_right_teacher_text */
.main_top_right_teacher_text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}