.pacport{
    display: flex;
    align-items: center; 
    gap: 10px;
}
.download-cont{
    width: 1680px;
    margin-top: 20px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.download-cont button{
    width: 200px;
}

.download-cont .upload-label{
    margin-top: 0px;
}