.admin-component {
    padding: 20px;
  }
  
  .nav-links {
    margin-top: 50px;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #007bff;
    color: white;
  }
  .admin_components{
    padding-top: 50px;
  }