.main_center_header {
    max-width: 1680PX;
    padding-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    gap: 50px;
}


.main_center_header .line {
    border: 1px solid black;
    width: 20%;
}