.authorization-component {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.authorization-component h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #76F;
}

.authorization-form {
  font-style: 18px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.input{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.authorization-form input {

  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

.authorization-form input::placeholder {
  color: #76F;
}

.authorization-form .btn {
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #76F;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.authorization-form .btn:hover {
  background-color: #5a5aff;
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 80px;
}

button img {
  width: 40px;
  height: 40px;
}

.password-input button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}
.btns{
  display: flex;
  justify-content: space-between;
}