.header_center {
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_info .small {
    font-size: 16px;
}

.header_info p {
    font-size: 20px;
}

.header_info{
    text-decoration: none;
}
.header_center .header_addres .header_icons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.header_center .header_addres .header_icons img {
    width: 25px;
    height: 25px;
}
.black {
    color: black;
}